.nav{
   overflow: hidden;
   position: fixed;
   inset: 0;
   z-index: 1150;
   display: flex;
   align-items: center;
   justify-content: center;

   .wrapper{
        display: flex;
        gap: 50px;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .nav{
        .wrapper{
            margin-bottom: 0px;
            justify-content: space-between;
        }
    }
}
